{% extends "base.html" %}

{% block title %}Phong V. Cao &rsaquo;&rsaquo; About{% endblock %}

{% block fonts %}
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400' rel='stylesheet' type='text/css'>
{% endblock %}

{% block static %}
  <link rel="stylesheet" type="text/css" href="/static/css/about.css" />
{% endblock %}

{% block content %}
   <h1>About Phong Cao</h1>
    
    <img id="phongcao-photo" src="/static/images/about/phongcao.jpg" />
    
    <p id="introduction-1">
      Welcome to my personal website, where you can find out pretty much everything about me, a really-geeky-but-not-very-nerdy Vietnamese dude!! =))
    </p>
    
    <br />
    
    <p id="introduction-2">  
      My full name is Phong Viet Cao. I'm a Vietnamese student currently attending Stony Brook University as an undergraduate. I major in Computer Science.
      I am most proficient with C/C++ and Python. 
      I enjoy writing small, efficient and cross-platform programs using open-source technologies.
    </p>
    
    <br />
    
    <p id="introduction-3">
      At present, I am maintaining Dingo, my very first personal open-source software. 
      Dingo is a GStreamer-based audio/video manager and player that is coded heavily in C/C++ and customized for Linux operating system.
      Dingo 0.5.0, the first stable version of the software, was released on December 30, 2012.
    </p>
    
    <br />
    
    <p id="specialties">
      <div class="sub-headers">
        Specialties
      </div>
      
      <ul class="content">
        <li>Desktop & Mobile Application Development</li>
        <li>Web Development & Design</li>
      </ul>

    </p>

    <br />
   
    <p id="contact">
      <div class="sub-headers">
        Contact
      </div>
    
      <div class="content">
        If you have any further questions please don't hesitate to contact me by email at <a id="email" href="mailto:phongvcao@phongvcao.com">phongvcao@phongvcao.com</a>
      </div>
    </p>
{% endblock %}
