{% extends "base.html" %}

{% block title %}Phong V. Cao{% endblock %}

{% block fonts %}
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block libs %}
<script type="text/javascript" src="/static/include/jquery/jquery-1.9.0.min.js"></script>

<script type="text/javascript" src="/static/include/jquery-cycle/jquery.cycle.all.js"></script>

<!-- Add fancyBox library -->
<link rel="stylesheet" href="/static/include/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="/static/include/fancybox/source/jquery.fancybox.pack.js"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/static/include/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />

<script type="text/javascript" src="/static/include/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>

<script type="text/javascript" src="/static/include/fancybox/source/helpers/jquery.fancybox-media.js"></script>

<link rel="stylesheet" href="/static/include/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />

<script type="text/javascript" src="/static/include/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
{% endblock %}

{% block static %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css" />

<script type="text/javascript" src="/static/jquery/home.js"></script>
{% endblock %}

{% block content %}
<div id="first-row" class="rows">
    <a id="about" class="single-slots" data-fancybox-type="iframe" href="/about" style="text-decoration:none">
        <div class="normal-texts">
            about me
        </div>
    </a>

    <a id="linkedin" class="single-slots" href="/linkedin" target="_blank" style="text-decoration:none">
    </a>

    <a id="twitter" class="single-slots" href="/twitter" target="_blank" style="text-decoration:none">
    </a>

    <a id="pic-5--2" class="quadruple-slots" href="http://www.mediafire.com/download/zuffdeh3cj7zvsd/PathX.zip" style="text-decoration:none" target="_blank">
        <div id="pic-5--2_screenshots">
            <div class="quadruple-screenshot" id="pic-5--2_slide-1">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Gameplay Screen with Specials Enabled
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-2">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Fullscreen Development Mode
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-3">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Home Screen
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-4">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Gameplay Screen with Specials Disabled
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-5">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Fullscreen Development Mode
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-6">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Level Select Screen
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-7">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Settings Screen
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-8">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Gameplay Lost Dialog
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-9">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>
                    <p class="quadruple-caption-content">
                    Gameplay Quit Level Dialog
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-10">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Gameplay Won Dialog
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-5--2_slide-11">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        PathX Mini-Game
                    </h4>

                    <p class="quadruple-caption-content">
                    Reset Game Dialog
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>

<div id="second-row" class="rows">
    <a id="pic-2--3" class="quadruple-slots" href="http://dingo-project.org/download/" style="text-decoration:none" target="_blank">
        <div id="pic-2--3_screenshots">
            <div class="quadruple-screenshot" id="pic-2--3_slide-1">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Ubuntu Unity's SoundMenu Integration
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-2">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Video playback with Fullscreen Mode
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-3">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Checkboxes-based tracks-playlists manager
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-4">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Repeat Section
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-5">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Edit Single Track Info
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-6">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Playlist Manager
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-7">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Import & Export Settings
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-8">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Lyrics fetching and editing
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-9">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Shuffle Mode
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-10">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Choose subtitle's font
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-2--3_slide-11">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Dingo Media Manager
                    </h4>

                    <p class="quadruple-caption-content">
                    Auto-save loaded subtitle's path
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a id="wordpress" class="single-slots" href="/wordpress" target="_blank" style="text-decoration:none">
        <!-- wordpress-logo-default -->
    </a>

    <a id="facebook" class="single-slots" href="/facebook" target="_blank" style="text-decoration:none">
        <!-- facebook-logo-default -->
    </a>

    <a id="soft-portfolio" class="horizontal-double-slots" data-fancybox-type="iframe" href="/software" style="text-decoration:none">
        <div class="big-texts">
            Software
        </div>

        <div class="small-texts">
            Portfolio
        </div>
    </a>
</div>

<div id="third-row" class="rows">
    <a id="design-portfolio" class="vertical-double-slots" data-fancybox-type="iframe" href="/design" style="text-decoration:none">
        <div id="design-portfolio-text-1" class="big-texts">
            Design
        </div>

        <div id="design-portfolio-text-2" class="small-texts">
            Portfolio
        </div>
    </a>

    <a id="github" class="single-slots" href="/github" target="_blank" style="text-decoration:none">
        <!-- github-logo-default -->
    </a>

    <a id="resume" class="vertical-double-slots" data-fancybox-type="iframe" href="/resume" style="text-decoration:none">
        <div id="resume-text">
            Resume
        </div>
    </a>

    <a id="pic-4--5" class="quadruple-slots" href="http://research.stonybrook.edu/" style="text-decoration:none" target="blank">
        <div id="pic-4--5_screenshots">
            <div class="quadruple-screenshot" id="pic-4--5_slide-1">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    Drupal Administration &amp; Front Page View
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-4--5_slide-2">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    Dynamic Layout on Firefox for Android
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-4--5_slide-3">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    Fullscreen Mode on Android Tablet &amp; Desktop
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-4--5_slide-4">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    NetID (phpCAS) Log-in Integration
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-4--5_slide-5">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    MightySlider Item Input Form
                    </p>
                </div>
            </div>

            <div class="quadruple-screenshot" id="pic-4--5_slide-6">
                <div class="quadruple-caption">
                    <h4 class="quadruple-caption-header">
                        Stony Brook Research
                    </h4>

                    <p class="quadruple-caption-content">
                    A brief look from my Workstation
                    </p>
                </div>
            </div>
        </div>
    </a>

    <a id="pic-2--5" class="single-slots" href="#" style="text-decoration:none">
        <!-- champa-default -->
    </a>
</div>

<!--
    <div id="copyright" style="color: #DC6629">
      Copyright &copy 2012
      <a id="phongvcao-about" data-fancybox-type="iframe" href="http://about.phongvcao.com/" style="text-decoration:none">Phong V. Cao</a>. All Images and Libraries Used With Permission Of the Authors. All Rights Reserved.
    </div>
    -->
{% endblock %}
