body {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

.resume-texts {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #505050;
  vertical-align: middle;
}

#resume-title {
  font-size: 22px;
  margin-left: -10px;
}

#save-file-logo-anchor:link {
  margin-left: 425px;
  background-color: green;
  text-align: center;
  padding: 4px 14px 4px 14px;
}

#save-file-logo-anchor:hover {
  margin-left: 425px;
  background-color: #FBEB00;
  text-align: center;
  padding: 4px 14px 4px 14px;
}

#crocodoc {
  margin-left: -15px;
}
