.champa-default, .champa-over, .facebook-logo-default, .facebook-logo-over, .github-logo-default, .github-logo-over-1, .linkedin-logo-default, .linkedin-logo-over, .twitter-logo-default, .twitter-logo-over, .wordpress-logo-default, .wordpress-logo-over{
	background: url(sprites.png) no-repeat;
}

.champa-default{
	background-position: -397px -396px ;
	width: 196px;
	height: 196px;
}

.champa-over{
	background-position: -594px -396px ;
	width: 196px;
	height: 196px;
}

.facebook-logo-default{
	background-position: -198px 0;
	width: 196px;
	height: 196px;
}

.facebook-logo-over{
	background-position: 0 0;
	width: 196px;
	height: 196px;
}

.github-logo-default{
	background-position: -595px 0;
	width: 196px;
	height: 196px;
}

.github-logo-over-1{
	background-position: -397px 0;
	width: 196px;
	height: 196px;
}

.linkedin-logo-default{
	background-position: -198px -396px ;
	width: 196px;
	height: 196px;
}

.linkedin-logo-over{
	background-position: 0 -396px ;
	width: 196px;
	height: 196px;
}

.twitter-logo-default{
	background-position: -198px -198px ;
	width: 196px;
	height: 196px;
}

.twitter-logo-over{
	background-position: 0 -198px ;
	width: 196px;
	height: 196px;
}

.wordpress-logo-default{
	background-position: -595px -198px ;
	width: 196px;
	height: 196px;
}

.wordpress-logo-over{
	background-position: -397px -198px ;
	width: 196px;
	height: 196px;
}

